
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #415A77;
}
#navbar {
    position: sticky ; top: 0;
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
    height: 70px;
    padding-top: 10px;
    background-color: #415A77;
    display: flex;
    justify-content: space-between;
}
#heading{
    color: aliceblue;
    font-size: 20px;
    padding-left: 40px;
}
#links{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 300px;
}
.nav_links {
    font-size: 20px;
    padding-right: 40px;
    color: aliceblue;
    text-decoration: none;
    padding-top: 10px;
}   
#login_button {
    background-color:aliceblue ;
    color: #778DA9;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}
#login_button:hover {
    background-color: #778DA9;
    color: aliceblue;
    box-shadow: 0 0 10px #778DA9, 0 0 20px #778DA9;
}
#pic {
    width: 100%;
    height: 500px;
    background-image: url("attendence_pic.jpg");
    background-size: cover;
    background-position: center;
}
#text{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.content {
    height: 200px;
    width: 80%;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 5%;
    background-color: #778DA9;
    color: aliceblue; 
    padding-bottom: 50px;  
    padding-left: 15px;
    padding-right: 15px;
}
